/* =============
    Sections
============= */
.sections {
    .grid-content {
        display: grid;
        grid-template-areas: ". section .";
        grid-template-columns: auto 1200px auto;

        >section {
            grid-area: section;
            text-align: center;

    
            .content-container {
                display: grid;
                grid-template-areas: ". section-content .";
                grid-template-columns: auto 800px auto;

                >div {
                    grid-area: section-content;

                    h1 {
                        border-bottom: 1px solid $green;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                    }

                    p {
                        line-height: rem-calc(25);
                    }

                    .blue-call-out {
                        background-color: $green;
                        color: $white;
                        margin-top: 10px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}